Mall-web/node_modules/
Mall-web/dist/
Mall-web/npm-debug.log*
Mall-web/yarn-debug.log*
Mall-web/yarn-error.log*

# Editor directories and files
.idea
**/target
*.iml
/Mall-web/project/dist/
/Mall-web/project/node_modules/
